
@use "./typography";
@use './variables' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,p{
  margin: 0;
  padding: 0;
  font-family:$primary-font;
  font-size: .81rem;
  line-height: 1.125rem;
  font-weight:400;

      @include tablet {
            font-size: .875rem;
            line-height: 1.375rem;
        }

}

h1 {
  font-family:$bold-font;
  font-size:3.75rem;
  line-height: 4.25rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

      @include tablet {
            font-size: 3.75rem;
        }
}

h2 {  
  font-family: $bold-font;
 font-weight: 700;
 font-size: 1.5rem;
 line-height: 2rem;

      @include tablet {
          font-size: 2.25rem;
          line-height: 2.27rem;
      }  

}
h3 {
  font-family:$demi-font;
  font-size: .875rem;
  line-height: 1.38rem;
 font-weight: 600;

 @include tablet {
  font-size: 1.5rem;
  line-height: 2rem;
}  

} 

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $primary1; 
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2% 0 0 0;

  @include tablet {
    margin: 0 0 0 5%;
    padding: 1% 0 0.8rem 0;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.25rem 0;
  align-items: center;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__site-title {
    color: $primary3;
    text-decoration: none;  
    font-size: 1.5rem;
  }

  &__list {
    color: $primary3;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 1rem;
    align-items: center;
    font-weight: 300;
    width: 111%; 
    
    @include tablet {
      width: 100%; 
    }

  }

  &__link {
    color: $primary2; 
    text-decoration: none; 

    &--active {
      border-bottom: .187rem solid $primary3;
      padding: 0 0 44% 0;
      color: $primary3; 

    }
  }

  @media (max-width: 767px) {
    &__list {
      margin: 0; 
    }

    &__item {
      width: 50%; 
    }

    &__link {
      display: block; 
      text-align: center; 
      padding: 10px 0; 
    }
  }
}

// Footer Desktop/Tablet View

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; 
  padding: 6% 5% 6% 5%;
  margin: 0; 
  background-color: $primary1;
  color: #fff;

  @include tablet {
    display: flex;
    flex-direction: row;
  }
 
  &__info {
    margin: 0 0 14% 0;
  }

  &--move{
    margin: -3% 0 0 0;
  }

  &--move1 {
    margin: 14% 0 14% 0;
  }

  &--move2 {
    margin: 27% 0 14% 0;
  }

  &__email {
    color: #fff;
    text-decoration: none;
  }

  &__social-icon {
    padding: 0 2% 0 0%;
    display: inline-block;
    margin: 0 9% 3% 0;
  }

  // Nested Media Query
  @media (max-width: 767px) {
    &--deskView {
      display: none;
    }
    &--mobileView {
      display: block; 
      padding: 0 0 0 3%;
    }
  }
}

// Mobile footer Styles
.footer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; 
  padding: 0; 
  margin: 0; 
  background-color: $primary1;
  color: #fff;

  &__title { 
      font-size: 2rem;
      font-weight: 400;
  }

  &__info-m {
    margin: 0 0 2% 0;
  }

  &__social-icon {
    padding: 0 2% 0 0%;
    display: inline-block;
    margin: 0 0 3% 0;
  }

  &__email {
    display: inline-block;
    margin: 0 0 7% 0;
    color: #fff;
    text-decoration: none;
  }

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &--mobileView {
    display: none;
  }

  @media (max-width: 767px) {
    &--deskView {
      display: none;
    }
    &--mobileView {
      display: block; 
      padding: 3% 0 0 3%;
    }
  }
}

// Copyright Section

  // mobile
  .copyright {
    background-color:  $primary1;
    color: #fff;
    margin: 0 0 0 0;
    padding: 2% 0% 2% 3%;
    margin: -1% 0 0 0;
}

