@use 'mixins' as *;

.gallery {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;
      padding: 0 2.25rem 0 2.25rem;
    }

    @include desktop {
      padding: 0 7rem 5% 7rem;
    }

    img {
      max-width: 100%; 
      max-height: 100%; 
      height: auto; 

          &:hover {
            filter: grayscale(100%); 
          }
      }

  &__item {
    text-align: center;
    padding: 1% 0;
    font-size: 5rem;
    border-radius: 5px;
    margin: 0 auto; 
    text-align: center; 
    width: 100%; 

        @include tablet {
          width: calc(90% / 3);
          padding: 1.5% 0;
        }

        &--important {
            &:hover {
              @include tablet {
              }
            }
        }
    
    @include desktop {
      width: calc(90% / 3);
      margin: -1% 0;
    }
  }
}


