
@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../assets/Font/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../assets/Font/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../assets/Font/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../assets/Font/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../assets/Font/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../assets/Font/AvenirNextLTPro-Demi.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../assets/Font/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../assets/Font/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../assets/Font/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../assets/Font/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../assets/Font/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../assets/Font/AvenirNextLTPro-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  