$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary1:#323232 ;
$primary2: #AFAFAF;
$primary3:#FFFFFF ;
$second1:#000000 ;
$second2:#E1E1E1 ;
$second3:#FAFAFA ;

$primary-font: "AvenirNext LT Pro";



  