@use "partials/mixins" as *;
@use "partials/variables" as *;
@use "partials/grid";
@use "partials/global";

// Hero Section
.hero {
  position: relative;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vw;
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;

  @include tablet {
    min-height: 48vw;
  }

  @include desktop {
    padding: 0 0 0 6rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  &__title {
    z-index: 1;
    color: $primary3;
  }
}

.intro {
  &__title {
    margin: 1.5rem 0 1rem 1rem;

    @include tablet {
      margin: 3.5rem 0 2rem 1rem;
    }

    @include desktop {
      margin: 3.5rem 0 2rem 6rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      width: 93%;
      height: 50vw;

      @include tablet {
        width: 79%;
        height: 43vw;
      }

      @include desktop {
        width: 71%;
        height: 40vw;
      }
    }
  }
}

.intro-inner {
  margin: 1rem 1rem 1rem 1rem;

  &__para--bold {
    font-weight: 500;
  }

  &__para--margin {
    font-size: 1rem;
  }

  @include tablet {
    width: 79%;
    margin: 2rem auto;
  }

  @include desktop {
    width: 79%;
    margin: 2rem 2rem 2rem 13rem;
  }
}

.content {
  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1rem;

    @include tablet {
      flex-direction: row;
      width: 87%;
      margin-left: 5rem;
    }
    @include desktop {
      width: 77%;
      margin-left: 12rem;
    }
  }

  &__title {
    padding: 1rem 1rem 0 1rem;

    @include tablet {
      padding: 1rem 1rem 0 6rem;
    }

    @include desktop {
      padding: 1rem 1rem 0 13rem;
    }
  }

  &__para {
    @include tablet {
      padding: 0 3rem 0 0;
    }
  }
}

.main__title {
  margin: 7% 1rem 0% 1rem;

  @include desktop {
    margin: 7% 1rem 0% 7rem;
  }
}

// Comment Area

#avatar-preview {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $second2;
  display: block;
  margin-bottom: 10px;

  @include tablet {
    width: 48px;
    height: 48px;
  }
}

.comment-form {
  padding: 0 1rem;

  &__input--wrap {
    display: flex;

    @include tablet {
      margin: 0 0 0 10%;
    }

    @include desktop {
      margin: 0 0 0 16%;
    }
  }

  &__flex {
    margin: 0 0 0 1rem;

    @include tablet {
      margin: -3% 0 0 1rem;
    }
  }

  &__area {
    margin: 0 0 0 17%;

    @include desktop {
      margin: 0 0 0 21%;
    }
  }

  #personName {
    border: 1px solid $second2;
    padding: 1rem;
    border-radius: 4px;
    width: 19rem;
    background: $second3;

    @include tablet {
      width: 37rem;
    }

    @include desktop {
      width: 57rem;
    }
  }

  &__submit {
    border: none;
    color: $primary3;
    background-color: $primary1;
    border-radius: 3px;
  }

  &__label {
    color: $primary2;
    margin: 8% 0 0 0;
  }

  &-title {
    padding: 0 1rem;

    @include tablet {
      padding: 0 1rem 0 3rem;
    }

    @include desktop {
      padding: 0 1rem 0 9rem;
    }
  }

  &__submit {
    width: 19rem;
    margin: 7% 0 0 14%;
    padding: 1rem;

    @include tablet {
      width: 26%;
      margin: 7% 0 0 14%;
      padding: 1rem;
    }

    @include desktop {
      width: 23%;
      margin: 7% 5% 0 12%;
      padding: 1rem;
    }
  }

  &--border {
    padding: 0 1rem 7% 1rem;

    @include tablet {
      padding: 0 1rem 1% 1rem;
      text-align: right;
      margin: 0 10% 0 0;
    }
  }

  &__image {
    margin: 4% 0 0 0;
  }

  &__label--move {
    margin: 2% 0 0 0%;
  }
}

#commentArea {
  border: 1px solid $second2;
  padding: 1rem 1rem 7rem 1rem;
  width: 19rem;
  border-radius: 4px;
  background: $second3;

  @include tablet {
    width: 38rem;
    padding: 1rem 1rem 3rem 1rem;
  }

  @include desktop {
    width: 57rem;
    padding: 1rem 1rem 3rem 1rem;
  }
}

.comment-area {
  padding: 0 0 0 1rem;

  &__item {
    list-style-type: none;
    
    &__image {
      border-radius: 50%;
    }
  }

  &__description {
    width: 79%;
    margin: 0 0 6% 17%;
  }

  &__flex-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 0%;
    border-top: 1px solid $second2;
    padding: 4% 0 0 0;
  }

  &__image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    @include tablet {
      width: 48px;
      height: 48px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $second2;
  }

  @include tablet {
    padding: 0 7rem 0 7rem;
  }
  @include desktop {
    padding: 0 15rem 0 15rem;
  }
}

#personName:focus {
  border: 1px solid $second1;
  outline: none;
}
