.gallery {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 0 7rem 5% 7rem;
  }
}
.gallery img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.gallery img:hover {
  filter: grayscale(100%);
}
.gallery__item {
  text-align: center;
  padding: 2% 0;
  font-size: 5rem;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 30%;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    width: 30%;
    margin: -1% 0;
  }
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
  font-size: 0.81rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  html,
  body,
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1 {
  font-family: "Avenir Next Bold", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding: 0 2.25rem;
  }
}

h2 {
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.27rem;
    padding: 0 2.25rem;
  }
}

h3 {
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 0.875rem;
  line-height: 1.38rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 2.25rem;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #323232;
}

.wrapper {
  margin: 0 auto;
  padding: 5% 0 0 0;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 0 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 0 0 0 8rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}
.nav__site-title {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__item {
    max-width: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav__item--margin {
    margin: 0 0 0 4%;
  }
}
.nav__list {
  color: #ffffff;
  display: flex;
  list-style-type: none;
  align-items: center;
  font-weight: 300;
  margin: 1% 0 0 0;
  width: 125%;
}
@media screen and (min-width: 768px) {
  .nav__list {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0% 0 1%;
  }
}
.nav__link {
  color: #AFAFAF;
  text-decoration: none;
  transition: color 0.3s ease, opacity 0.3s ease;
  display: block;
  text-align: center;
  padding: 0.8125rem 0;
}
.nav__link--active {
  border-bottom: 0.2rem solid #FFFFFF;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__link--active {
    padding: 0 0 41% 0;
    margin: 46% 0 0 0;
  }
}
.nav__link--move {
  padding: 0 16% 0 0;
}
.nav__link:hover {
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
}

.footer {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6% 0 6% 5%;
    margin: 0;
    background-color: #323232;
    color: #fff;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 6% 6% 6% 9%;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 0;
    font-size: 2.25rem;
  }
}
.footer__info {
  margin: 0 0 14% 0;
}
.footer__info--margin {
  margin: 0 0 0 0;
}
@media screen and (min-width: 1280px) {
  .footer__info--margin {
    margin: 16% 0 13% 0;
  }
}
.footer__info--bold {
  margin: 5% 0 4% 0;
  font-weight: 600;
}
.footer__list--margin {
  margin: -5% 0 0 0;
}
@media screen and (min-width: 1280px) {
  .footer__list--margin {
    margin: -4% 0 0 0;
  }
}
.footer--move1 {
  margin: 14% 0 14% 0;
}
.footer--move2 {
  margin: 27% 0 14% 0;
}
.footer__email {
  color: #fff;
  text-decoration: none;
}
.footer__social-icon {
  padding: 0 2% 0 0%;
  display: inline-block;
  margin: 0 9% 3% 0;
}
.footer__logo {
  margin: 0 0 0 -42%;
}

.footer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #323232;
  color: #fff;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer2 {
    display: none;
  }
}
.footer2__title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}
.footer2__info--bold {
  margin: 5% 0 4% 0;
  font-weight: 600;
}
.footer2__info--move {
  margin: 0 0 0 0;
}
.footer2__info--mobile {
  font-weight: 400;
}
.footer2__social-icon {
  padding: 0 2% 0 10%;
  margin: 0 4% 6% -9%;
}
.footer2__email {
  display: inline-block;
  margin: 5% 0 5% 0;
  color: #fff;
  text-decoration: none;
}
.footer2__logo {
  margin: 12% 0 0 0;
  display: inline-block;
}

.copyright {
  background-color: #323232;
  color: #fff;
  margin: 0 0 0 0;
  margin: -2% 0 0 0;
  padding: 1rem 1rem 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .copyright {
    padding: 1rem 1rem 2rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .copyright {
    padding: 0 1rem 2rem 8rem;
    margin-top: -3%;
  }
}

.hero {
  position: relative;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vw;
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 48vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 0 0 0 6rem;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.hero__title {
  z-index: 1;
  color: #FFFFFF;
}

.intro__title {
  margin: 1.5rem 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .intro__title {
    margin: 3.5rem 0 2rem 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .intro__title {
    margin: 3.5rem 0 2rem 6rem;
  }
}
.intro__image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.intro__image img {
  width: 93%;
  height: 50vw;
}
@media screen and (min-width: 768px) {
  .intro__image img {
    width: 79%;
    height: 43vw;
  }
}
@media screen and (min-width: 1280px) {
  .intro__image img {
    width: 71%;
    height: 40vw;
  }
}

.intro-inner {
  margin: 1rem 1rem 1rem 1rem;
}
.intro-inner__para--bold {
  font-weight: 500;
}
.intro-inner__para--margin {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .intro-inner {
    width: 79%;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 1280px) {
  .intro-inner {
    width: 79%;
    margin: 2rem 2rem 2rem 13rem;
  }
}

.content__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .content__flex {
    flex-direction: row;
    width: 87%;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .content__flex {
    width: 77%;
    margin-left: 12rem;
  }
}
.content__title {
  padding: 1rem 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .content__title {
    padding: 1rem 1rem 0 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .content__title {
    padding: 1rem 1rem 0 13rem;
  }
}
@media screen and (min-width: 768px) {
  .content__para {
    padding: 0 3rem 0 0;
  }
}

.main__title {
  margin: 7% 1rem 0% 1rem;
}
@media screen and (min-width: 1280px) {
  .main__title {
    margin: 7% 1rem 0% 7rem;
  }
}

#avatar-preview {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #E1E1E1;
  display: block;
  margin-bottom: 10px;
}

.comment-form {
  padding: 0 1rem;
}
.comment-form__image {
  display: flex;
}
.comment-form__submit {
  border: none;
  color: #fff;
  background-color: #323232;
  border-radius: 3px;
}
.comment-form__flex {
  margin-left: 8%;
}
.comment-form__text {
  border: 0.5px solid #AFAFAF;
  background: #FAFAFA;
  padding: 4% 0 11% 5%;
  border-radius: 4%;
  width: 76%;
  margin: 0 0 0 22%;
}
.comment-form__label {
  margin: 7% 0 2% 23%;
  color: #AFAFAF;
}
.comment-form-title {
  padding: 0 1rem;
}
.comment-area {
  padding: 0 0 0 1rem;
}
.comment-area__item {
  list-style-type: none;
}
.comment-area__item__image {
  border-radius: 50%;
}
.comment-area__description {
  width: 79%;
  margin: 0 0 6% 17%;
}

.comment-area__flex-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 0 0%;
  border-top: 1px solid #E1E1E1;
  padding: 4% 0 0 0;
}

.comment-area__image {
  width: 45px;
  height: auto;
  border-radius: 50%;
}

.comment-area:last-child {
  border-bottom: 1px solid #E1E1E1;
}

.comment-form-title {
  padding: 0 1rem;
}

#personName {
  border: 0.5px solid #AFAFAF;
  background: #FAFAFA;
  padding: 11%;
  border-radius: 4%;
  width: 157%;
}

.comment-form__name {
  margin: 0 0 3% 0;
  color: #AFAFAF;
}

.comment-form__submit {
  width: 85%;
  margin: 0 0 0 19%;
  padding: 4% 0 4% 0;
}

.comment-form--border {
  padding: 0 1rem 7% 1rem;
}/*# sourceMappingURL=bio.css.map */