@use "partials/mixins" as *;
@use "partials/variables" as *;
@use "partials/grid";
@use "partials/global";

// Hero Section
.hero {
  position: relative;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vw;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;

  @include tablet {
    min-height: 48vw;
    padding: 0 2.25rem 0 2.25rem;
  }

  @include desktop {
    padding: 0 0 0 6rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  &__title {
    z-index: 1;
    color: $primary3;
  }
}

.intro {
  &__title {
    margin: 1.5rem 0 1rem 1rem;

    @include tablet {
      margin: 3.5rem 0 2rem 1rem;
      padding: 0 2.25rem 0 2.25rem;
      
    }

    @include desktop {
      margin: 3.5rem 0 2rem 6rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      width: 93%;
      height: 50vw;

      @include tablet {
        width: 79%;
        height: 43vw;
      }

      @include desktop {
        width: 71%;
        height: 40vw;
      }
    }
  }
}

.intro-inner {
  margin: 1rem 1rem 1rem 1rem;

  &__para--bold {
    font-weight: 500;
  }

  &__para--margin {
    font-size: 1rem;
  }

  @include tablet {
    width: 79%;
    margin: 2rem auto;
  }

  @include desktop {
    width: 79%;
    margin: 2rem 2rem 2rem 13rem;
  }
}

.content {
  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1rem;

    @include tablet {
      flex-direction: row;
      width: 87%;
      margin-left: 5rem;
    }
    @include desktop {
      width: 77%;
      margin-left: 12rem;
    }
  }

  &__title {
    padding: 1rem 1rem 0 1rem;

    @include tablet {
      padding: 1rem 1rem 0 6rem;
    }

    @include desktop {
      padding: 1rem 1rem 0 13rem;
    }
  }

  &__para {
    @include tablet {
      padding: 0 3rem 0 0;
    }
  }
}

.main__title {
  margin: 7% 1rem 0% 1rem;

  @include tablet {
    padding: 0 2.25rem 1rem 2.25rem;
  }

  @include desktop {
    margin: 7% 1rem 0% 7rem;
  }
}

// Comment Form Input Area

.comment-form {
  padding: 0 1rem 0 1rem;

  @include tablet {
    width: 87%;
    margin: 0 auto;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__input-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__avatar-preview{
    width: 36px; 
    height: 36px;
    border-radius: 50%;

    @include tablet {
      width: 48px; 
      height: 48px;   
    }
  }

    &__personName {
    border: 1px solid $second2;
    padding: 1rem;
    border-radius: 4px;
    width: 19rem;
    background: $second3;
    }

  #personName, #commentArea {
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 10px; 
  }

  #personName:focus, #commentArea:focus {
    border: 1px solid #000; 
    outline: none;
  }

  &__avatar-wrap {
    margin: 2rem 1rem 0 0;
  }

   &__submit-btn {
    border: none;
    color: $primary3;
    background-color: $primary1;
    border-radius: 3px;
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
    padding: 10px 0; 

    @include tablet {
      width: 28%; 
    }
  }

    &__label {
    color: $primary2;
    margin: 0 0 0 0;
  }

    &__label {
    color: $primary2;
    margin: 0 0 0.6rem 0;
  }

  &__label--move {
    margin-top: 1rem;
  }

    &-title {
    padding: 0 1rem;

    @include tablet {
      padding: 0 2.25rem 0 2.25rem;
    }

    @include desktop {
      // padding: 0 1rem 0 9rem;
    }
  }

  input::-webkit-input-placeholder { 
    color: #000;
    font-size: 0.81rem;
  }

  textarea::-webkit-input-placeholder { 
    color: #000;
    font-size: 0.81rem;
  }

  &-submit-wrap{
    display: flex;
    justify-content: flex-end;
  }
}

// Comment Area

#commentArea {
  border: 1px solid $second2;
  padding: 1rem 1rem 7rem 1rem;
  width: 19rem;
  border-radius: 4px;
  background: $second3;

  @include tablet {
    width: 38rem;
    padding: 1rem 1rem 3rem 1rem;
  }

  @include desktop {
    width: 57rem;
    padding: 1rem 1rem 3rem 1rem;
  }
}

.comment-area {
  padding: 0 1rem .5rem 1rem;

  @include tablet {
    margin: 0 auto 1rem auto;
    width: 87%;
  }

  &__item {
    list-style-type: none;

    &:last-child {
      border-bottom: 1px solid #E1E1E1;
    }
  }

  &__avatar-image{
    background: #E1E1E1;
    max-width: 100%;
    height: 36px;
    width: 36px;
    border-radius: 50%;

    @include tablet {
      height: 48px;
      width: 48px;
    }
  }

  &__description {
    width: 79%;
    margin: 0 0 3% 3.5rem;
  }

  &__flex-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 0 0 0 0%;
    border-top: 1px solid $second2;
    padding: 4% 0 0 0;
    width:100%;
  }

  &__title { 
    flex-grow: 1; 
  }

}

// Error Checking

.input-error {
  border: 1px solid red;
}

#error-messages {
  text-align: center;
  list-style: none;
}




