.gallery {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  background: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 0 2.25rem 1rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 0 7rem 0.63rem 7rem;
  }
}
.gallery img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.gallery img:hover {
  filter: grayscale(100%);
}
.gallery__item {
  text-align: center;
  padding: 2% 0;
  font-size: 5rem;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 30%;
    padding: 1.5% 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    width: 30%;
    margin: -0.313rem 0 0 0;
  }
}

.gallery-wrap-title {
  background: #FAFAFA;
  padding: 2rem 0 1rem 0;
  margin-top: 2rem;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
  font-size: 0.81rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  html,
  body,
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h1 {
  font-family: "Avenir Next Bold", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.27rem;
  }
}

h3 {
  font-family: "Avenir Next Demi", sans-serif;
  font-size: 0.875rem;
  line-height: 1.38rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #323232;
}

.wrapper {
  margin: 0 auto;
  padding: 5% 0 0 0;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 0 5rem 0 5rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}
.nav__site-title {
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .nav__site-title {
    margin-top: 0.438rem;
  }
}
.nav__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__item {
    max-width: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav__item--margin {
    margin: 0 0 0 4%;
  }
}
.nav__list {
  color: #FFFFFF;
  display: flex;
  list-style-type: none;
  align-items: center;
  font-weight: 300;
  margin: 1% 0 0 0;
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0% 0 6%;
  }
}
.nav__link {
  color: #AFAFAF;
  text-decoration: none;
  transition: color 0.3s ease, opacity 0.3s ease;
  display: block;
  text-align: center;
  padding: 0.8125rem 0;
}
.nav__link:hover {
  color: #FFFFFF;
  border-bottom: 0.2rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__link:hover {
    padding: 0 0 41% 0;
    margin: 46% 0 0 0;
  }
}
.nav__link--active {
  border-bottom: 0.2rem solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .nav__link--active {
    padding: 0 0 41% 0;
    margin: 46% 0 0 0;
  }
}
.nav__link--move {
  padding: 0 16% 0 0;
}

.footer {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 6% 2.25rem 6% 2.25rem;
    margin: 0;
    background-color: #323232;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 6% 6% 6% 9%;
  }
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 0;
    font-size: 2.25rem;
  }
}
.footer__info {
  margin: 0 0 14% 0;
}
.footer__info--margin {
  margin: 0 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer__info--margin {
    margin: 1.5rem 0 14% 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info--margin {
    margin: 16% 0 13% 0;
  }
}
.footer__info--bold {
  margin: 5% 0 4% 0;
  font-weight: 600;
}
.footer__list--margin {
  margin: -5% 0 0 0;
}
@media screen and (min-width: 1280px) {
  .footer__list--margin {
    margin: -4% 0 0 0;
  }
}
.footer--move1 {
  margin: 14% 0 14% 0;
}
.footer--move2 {
  margin: 27% 0 14% 0;
}
@media screen and (min-width: 768px) {
  .footer--move2 {
    margin: 4rem 0 11% 0;
  }
}
.footer__email {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__social-icon {
  padding: 0 2% 0 0%;
  display: inline-block;
  margin: 0 9% 3% 0;
}
.footer__logo {
  margin: 0 0 0 -42%;
}

.footer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #323232;
  color: #FFFFFF;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer2 {
    display: none;
  }
}
.footer2__title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
}
.footer2__info--bold {
  margin: 5% 0 4% 0;
  font-weight: 600;
}
.footer2__info--move {
  margin: 0 0 0 0;
}
.footer2__info--mobile {
  font-weight: 400;
}
.footer2__social-icon {
  padding: 0 2% 0 10%;
  margin: 0 4% 6% -9%;
}
.footer2__email {
  display: inline-block;
  margin: 5% 0 5% 0;
  color: #FFFFFF;
  text-decoration: none;
}
.footer2__logo {
  margin: 12% 0 0 0;
  display: inline-block;
}

.copyright {
  background-color: #323232;
  color: #FFFFFF;
  margin: 0 0 0 0;
  margin: -2% 0 0 0;
  padding: 1rem 1rem 2rem 1rem;
}
@media screen and (min-width: 768px) {
  .copyright {
    padding: 0rem 2.25rem 2rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .copyright {
    padding: 0 1rem 2rem 8rem;
    margin-top: -3%;
  }
}

.hero {
  position: relative;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vw;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 48vw;
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 0 5rem 0 5rem;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
  z-index: 0;
}
.hero__title {
  z-index: 1;
  color: #FFFFFF;
}

.intro__title {
  margin: 1.5rem 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .intro__title {
    margin: 3.5rem 0 2rem 1rem;
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .intro__title {
    padding: 0 4rem 1rem 4rem;
  }
}
.intro__image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.intro__image img {
  width: 93%;
  height: 50vw;
}
@media screen and (min-width: 768px) {
  .intro__image img {
    width: 79%;
    height: 43vw;
  }
}
@media screen and (min-width: 1280px) {
  .intro__image img {
    width: 71%;
    height: 40vw;
  }
}

.intro-inner {
  margin: 1rem 1rem 1rem 1rem;
}
.intro-inner__para--bold {
  font-weight: 500;
}
.intro-inner__para--margin {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .intro-inner {
    width: 79%;
    margin: 2rem auto;
  }
}
@media screen and (min-width: 1280px) {
  .intro-inner {
    width: 79%;
    margin: 2rem 2rem 2rem 13rem;
  }
}

.content__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .content__flex {
    flex-direction: row;
    width: 87%;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .content__flex {
    width: 77%;
    margin-left: 12rem;
  }
}
.content__title {
  padding: 1rem 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .content__title {
    padding: 1rem 1rem 0 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .content__title {
    padding: 1rem 1rem 0 13rem;
  }
}
@media screen and (min-width: 768px) {
  .content__para {
    padding: 0 3rem 0 0;
  }
}

.main__title {
  margin: 4% 1rem 0% 1rem;
}
@media screen and (min-width: 768px) {
  .main__title {
    padding: 0 2.25rem 1rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .main__title {
    margin: 2% 1rem 0% 7rem;
  }
}

.comment-form {
  padding: 0 1rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .comment-form {
    width: 87%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .comment-form {
    width: 50%;
  }
}
.comment-form__wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.comment-form__input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-form__avatar-preview {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .comment-form__avatar-preview {
    width: 48px;
    height: 48px;
  }
}
.comment-form__personName {
  border: 1px solid #E1E1E1;
  padding: 1rem;
  border-radius: 4px;
  width: 19rem;
  background: #FAFAFA;
}
.comment-form #personName, .comment-form #commentArea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.comment-form #personName:focus, .comment-form #commentArea:focus {
  border: 1px solid #000000;
  outline: none;
}
.comment-form__avatar-wrap {
  margin: 2rem 1rem 0 0;
}
.comment-form__submit-btn {
  border: none;
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.66rem;
  height: 2.8rem;
  padding: 0 2.25rem;
}
.comment-form__submit-btn:hover {
  background-color: #000000;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .comment-form__submit-btn {
    width: 28%;
  }
}
.comment-form__label {
  color: #AFAFAF;
  margin: 0 0 0 0;
}
.comment-form__label {
  color: #AFAFAF;
  margin: 0 0 0.6rem 0;
}
.comment-form__label--move {
  margin-top: 1rem;
}
.comment-form-title {
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .comment-form-title {
    padding: 0 2.25rem 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comment-form-title {
    padding: 1rem 5rem 0 9rem;
  }
}
.comment-form input::-webkit-input-placeholder {
  color: #000000;
  font-size: 0.81rem;
}
.comment-form textarea::-webkit-input-placeholder {
  color: #000000;
  font-size: 0.81rem;
}
.comment-form-submit-wrap {
  display: flex;
  justify-content: flex-end;
}

#commentArea {
  border: 1px solid #E1E1E1;
  padding: 1rem 1rem 7rem 1rem;
  width: 19rem;
  border-radius: 4px;
  background: #FAFAFA;
}
@media screen and (min-width: 768px) {
  #commentArea {
    width: 38rem;
    padding: 1rem 1rem 3rem 1rem;
  }
}
@media screen and (min-width: 1280px) {
  #commentArea {
    width: 57rem;
    padding: 1rem 1rem 3rem 1rem;
  }
}

.comment-area {
  padding: 0 1rem 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .comment-area {
    margin: 0 auto 1rem auto;
    width: 87%;
  }
}
@media screen and (min-width: 1280px) {
  .comment-area {
    width: 50%;
  }
}
.comment-area__item {
  list-style-type: none;
}
.comment-area__item:last-child {
  border-bottom: 1px solid #E1E1E1;
}
.comment-area__avatar-image {
  background: #E1E1E1;
  max-width: 100%;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .comment-area__avatar-image {
    height: 48px;
    width: 48px;
  }
}
.comment-area__description {
  width: 79%;
  margin: 0 0 3% 3.5rem;
}
@media screen and (min-width: 768px) {
  .comment-area__description {
    margin: -1rem 0 3% 4.2rem;
  }
}
.comment-area__flex-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0 0 0 0%;
  border-top: 1px solid #E1E1E1;
  padding: 4% 0 0 0;
  width: 100%;
}
.comment-area__title {
  flex-grow: 1;
}
.comment-area__like-button {
  background: #323232;
  color: #fff;
  border-radius: 4px;
  margin: 0 0.5rem 0.5rem 0;
  border: none;
  padding: 0.3rem 0.5rem;
}/*# sourceMappingURL=bio.css.map */