.gallery {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
}
.gallery img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.gallery img:hover {
  filter: grayscale(100%);
}
.gallery__item {
  text-align: center;
  padding: 20px 0;
  font-size: 5rem;
  border-radius: 5px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 40%;
    margin: 3vw 0;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__item {
    width: 30%;
    margin: 1.25vw 0;
  }
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

h1 {
  font-family: "AvenirNext LT Pro";
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: 900;
  color: #fff;
}

h2 {
  font-family: "AvenirNext LT Pro";
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}

h3 {
  font-family: "AvenirNext LT Pro";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #323232;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.25rem 2rem;
  align-items: center;
}
.nav__site-title {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav__list {
  color: #FFFFFF;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  gap: 1rem;
  align-items: center;
  font-weight: 300;
}
.nav__list a {
  color: #FFFFFF;
  text-decoration: none;
}
.nav__link--active {
  border-bottom: 0.187rem solid #FFFFFF;
  padding: 0 0 44% 0;
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #323232;
}

.copyright-section {
  background-color: #323232;
  padding: 0.5% 0 0.5% 0;
}

.hero {
  position: relative;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 37.5rem;
  display: flex;
  align-items: center;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero__title {
  z-index: 1;
}

.intro-section {
  width: 80%;
  margin: 0 auto;
}

.intro__image {
  display: flex;
  justify-content: center;
}
.intro__image img {
  width: 70%;
}

.para-flex {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  justify-content: space-between;
}/*# sourceMappingURL=bio.css.map */