@use "partials/variables" as *;
@use "partials/global";
@use "partials/mixins" as *;

// Shows-Hero Section

.hero-show {
  position: relative;
  background-image: url("../assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  padding: 8% 0 0 1rem;

  &__iframe {
    z-index: 1;
  }

  @include tablet {
    min-height: 48vw;
    flex-direction: column;
    padding: 8% 2.25rem;
  }

  @include desktop {
    padding: 14% 0 0 6rem;
    flex-direction: row;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary1;
    opacity: 50%;
    z-index: 0;
  }

  &__title {
    z-index: 1;
    color: $primary3;

    @include tablet {
      margin: 0 0 4rem 0;
    }
  }

  &__title--wrap,
  &__subtitle {
    z-index: 1;
    color: $primary3;
    z-index: 1;
    font-weight: 300;
    font-size: 1rem;

    @include tablet {
      font-weight: 400;
      font-size: 2rem;
    }
  }

  &__title--wrap {
    @include tablet {
    }

    @include desktop {
      margin: 0 0 0 0;
    }
  }

  &__iframe {
    z-index: 1;
    margin: 0 0 9% 0;

    @include tablet {
      margin: 0 0 0 -2rem;
    }

    @include desktop {
      margin: 6rem 0 0rem 8rem;
    }
  }

  &__iframe iframe {
    width: 96%;
    height: 9.31rem;

    @include tablet {
      width: 67%;
      height: 9.31rem;
      padding: 0 2.25rem;
    }

    @include desktop {
      width: 144%;
      height: 9.31rem;
      padding: 0 2.25rem;
    }
  }
}

.intro {
  &__title {
    margin: 1.5rem 0 1rem 1rem;

    @include tablet {
      margin: 3.5rem 0 2rem 1rem;
    }

    @include desktop {
      margin: 3.5rem 0 2rem 6rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      width: 93%;
      height: 50vw;

      @include tablet {
        width: 79%;
        height: 43vw;
      }

      @include desktop {
        width: 71%;
        height: 40vw;
      }
    }
  }
}

// Dynamic Shows Section

.shows {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0.625rem auto;
  }
  &__item {
    padding: 0.325rem;
    display: block;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    width: 33%;
    padding: 0.5rem 1.125rem;

    &__item:hover {
      background-color: $second3;
    }

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 1.125rem;
      
    }

  }

  &__title {
    text-transform: uppercase;
    font-weight: 500;
    color: $primary2;
    margin: 3% 0 3% 0;

    @include tablet {
      display: none;
    }
  }

  &__details {
    font-weight: 600;

  }

  &__main-title {
    padding: 1rem 1rem 0 1rem;

  }

  &__list li {
    width: 100%;
    border-bottom: 1px solid $second3;
  }

  &__list {
    padding: 0 1rem 0 1rem;

  }

  &__btn {
    border: none;
    background: $primary1;
    color: $primary3;
    width: 100%;
    margin: 7% 0 3% 0;
    padding: 1rem;
    border-radius: 4px;

    &:hover {
      background-color:$second1;
      color: $primary3; 
  }
  

    @include tablet {
      width: 26%;
      // padding: 2% 0 2% 0;
      margin-left: auto;
      margin-top: 2%;
    }
  }
  &__title--wrap {
    display: none;

    @include tablet {
      display: flex;
      padding: 0 2.25rem;
      text-align: left;
      width: 88%;
    }

    @include desktop {
      width: 66%;
      margin: 2% 12rem 0 -3rem;
    }
  }

  &__list-title {
    font-weight: 500;
    color: $primary2;

    @include tablet {
      width: 29%;
    }

    // @include desktop {
    //   width: 19%;
    // }
  }

  &__item > p,
  &__item > button {
    @include tablet {
      flex: 1;
    }
  }

  &__item:hover {
    background-color: $second3;
  }

&__titles-container {

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 8rem;
  }
} 

.shows__item--highlighted {
  background-color: $second2; 
}

.shows__item {
  border-radius: 4px;

}



&__list {

@include desktop {
  width: 67%;
  margin-left: auto;
  margin-right: 6rem;
}
}

}

